<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        
        <!-- Workout Plans Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle"
               href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Workout Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#" class="dropdown-item">Weight Loss</a>
                <a href="#" class="dropdown-item">Muscle Gain</a>
                <a href="#" class="dropdown-item">Maintain Muscle</a>
                <a href="#" class="dropdown-item">All Plans</a>
            </div>
        </li>

        <!-- Community Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle"
               href="#" id="community-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Community
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="community-link">
                <a href="#" class="dropdown-item">Forum</a>
                <a href="#" class="dropdown-item">Success Stories</a>
                <a href="#" class="dropdown-item">Challenges</a>
            </div>
        </li>

        <!-- Nutrition Plans Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle"
               href="#" id="nutrition-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nutrition-link">
                <a href="#" class="dropdown-item">Fat Burn</a>
                <a href="#" class="dropdown-item">Muscle Fuel</a>
                <a href="#" class="dropdown-item">Balanced Diet</a>
            </div>
        </li>

        <!-- Products -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
                Products
            </a>
        </li>

        <!-- Special Offers Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black dropdown-toggle"
               href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="#" class="dropdown-item">New Arrivals</a>
                <a href="#" class="dropdown-item">Deals</a>
                <a href="#" class="dropdown-item">Clearance</a>
                <a href="#" class="dropdown-item">All Specials</a>
            </div>
        </li>

    </ul>
</div>
